{% extends "layout.html.twig" %}

{% block content %}
    <main class="container">
        <div class="row">
            <h1 class="text-center m-3">Liste des super produits !</h1>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Catégorie</th>
                    <th>Est super !</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.categoryName }}</td>
                        <td>{{ product.isSuper }}</td>
                        <td> {% if product.isSuper == 0 %}
                            <a href="/products/issuper?id={{ product.id }}">Est super</a>
                        {% endif %}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        <p>
            <a href="/products/add">Ajouter un nouveau produit</a>
        <p>

    </main>

{% endblock %}